<div class="mb-3">
    <h5>{name} <small>Method</small></h5>
    <div class="d-md-flex flex-row">
        <div class="d-md-flex flex-fill flex-column col-md-6">
            <div class="p-md-2 py-2">
                <h6><small>Description</small></h6>
                <div>{description}</div>
            </div>
            <div class="p-md-2 py-2">
                <h6><small>Parameters</small></h6>
                <div>{params}</div>
            </div>
        </div>
        <div class="flex-fill d-md-flex flex-column p-md-2 col-md-6">
            <h6><small>Example</small></h6>
            {examples}
            <!-- <pre class="flex-grow-1"><code class="javascript h-100">{examples}</code></pre> -->
        </div>
    </div>
</div>