<div class="pl-md-3 pt-3">
    <div>
        <div class="{type} name">{name}</div>
        <span class="type">{type}</span>
        <a class="show-code-link" href="{fileUrl}" target="_blank">Show code</a>
    </div>
    <div class="pl-md-2 pt-2">
        <div class="d-md-flex flex-row">
            <div class="d-md-flex flex-fill flex-column col-md-6 p-0">
                <div>{description}</div>
                <div>{param}</div>
            </div>
            <div class="flex-fill d-md-flex flex-column p-md-2 col-md-6 p-0">
                {example}
            </div>
        </div>
        {functions}
        {inheritsfeaturesfrom}
    </div>
</div>